p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
}

/* .container{
    font-size: 3em;
}

.container h1{
    font-size: 2em;
    color: red;
} */

html{
    font-size: 32px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 2vw;
}