* {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
header nav ul li a {
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  display: flex;
  background-color: #f8f9fa;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  width: 800px;
  flex-wrap: wrap;
  margin-right: 15px;
}

.logo {
  margin-left: 15px;
}

header nav ul li a:hover {
  background-color: #e9ecef;
}


.main{
    display: flex;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}

.right img{
    width: 500px;
}

.right p{
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    color: grey;
    font-size: 1rem;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-items: center;
    text-align: center;
}

.left h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.left a{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
}

.green{
    display: flex;
    background-color: #173B45;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item p{
    /* background-color: white; */
    color: white;
}

.item h2{
    color: #FF8225;
    font-size: 3rem;
    margin: 20px;
}

.item{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}